// First import functions
@import "../../node_modules/bootstrap/scss/functions";

// Now declare your custom variables
$primary: #3a658a;

// (optional: add more custom variables here)

// Then import the rest
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/bootstrap";

.custom-nav-link {
  font-size: 24px;
}

.logo {
  font-size: 55px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.sign-in-link {
  font-size: 20px;
}

button {
  background-color: $primary;
}
